<script type = "text/javascript" src = "assets/show.js"></script>
<script type = "text/javascript" src = "jquery-3.3.1.min.js"></script>
<link rel = "stylesheet" href = "assets/calendar_show.css" />

<h2 style="text-align: center">CoolCalendar</h2>

<div id = "month">
  <table class="main">
    <td>
      <div style="text-align: center">
        <a class="bd_arrow_a" id = "prev" onclick="prev_date(<%= get_cur_month() %>, <%= get_cur_year() %>)">&#8592;</a>
        <a><%= get_month_by_number(get_cur_month()) %> <%= get_cur_year() %></a>
        <a class="bd_arrow_a" id = "next" onclick="next_date(<%= get_cur_month() %>, <%= get_cur_year() %>)">&#8594;</a>
      </div>
      <%= get_month_calendar(get_cur_month(),get_cur_year()).html_safe  %>
    </td>
    <td class ="calendar_checkbox">
      <button><img src="images/vk.png" alt="VK"></button><br/>
      <div>
        <label class="container">
          <input type="checkbox" checked="checked">Государственные праздники
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container">
          <input type="checkbox">Дни рождения друзей VK
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container">
          <input type="checkbox">Событие VK
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container">
          <input type="checkbox">Мои события
          <span class="checkmark"></span>
        </label>
      </div>
    </td>
  </table>
</div>