<h1 style="text-align: center">Регистрация</h1>

<%= form_with(model: @user, local: true, class: :pole) do |f| %>
  <div style="text-align: center">
    <label for="email">E-mail: </label>
    <%= f.text_field :email %> <br/><br/>
    <label for="password">Пароль: </label>
    <%= f.password_field :password %> <br/><br/>
    <label for="password">Подтвердите пароль: </label>
    <%= f.password_field :confirm %> <br/><br/>
    <%= f.submit("Зарегистрироваться!", class: "button") %>
  </div>
<% end %>